body {
  background-image: linear-gradient(to bottom right, #FAF2F0, #000000)
}
a {
 color:#FAF2F0;
 text-align:center 
}
a:hover,
a:focus {
 color:#FFFFFF;
}
a small {
 color:#FAF2F0;
}
a:hover small {
 color:#FFFFFF
}



