body {
  background-image: linear-gradient(to bottom right, #02456e, #000000)
}
a {
 color:#FAF2F0;
 text-align:center 
}
a:hover,
a:focus {
 color:#17c8e3;
}
a small {
 color:#e8e8e8;
}
a:hover small {
 color:#17c8e3
}


FAF2F0
